<nav class="navbar">    
          
  <div class="container-fluid">
    <h1>MyBooks</h1>

    <div class="menu">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" *ngIf = !this.userService.logueado >

            <li><a class="dropdown-item fa fa-home" href="#" routerLink="/home"><font face="Arial Narrow">Home</font></a></li>
            <li><a class="dropdown-item fa fa-file-text" href="#" routerLink="/register"><font face="Arial Narrow">Register</font></a></li>
            <li><a class="dropdown-item fa fa-user" href="#" routerLink="/login"><font face="Arial Narrow">Login</font></a></li>

          </ul> 

          <ng-template *ngIf = this.userService.logueado>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

                <li><a class="dropdown-item fa fa-book" href="#" routerLink="/books"><font face="Arial Narrow">Books</font></a></li>
                <li><a class="dropdown-item fa fa-book" href="#" routerLink="/addBook"><font face="Arial Narrow">AddBook</font></a></li>
                <li><a class="dropdown-item fa fa-book" href="#" routerLink="/updateBook"><font face="Arial Narrow">UpdateBook</font></a></li>
                <li><a class="dropdown-item fa fa-user" href="#" routerLink="/profile"><font face="Arial Narrow">Profile</font></a></li>
                
              </ul>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>  