<body>

    <div class="login">

        <form action="#">

            <div class="sign-up">
                <h2>Registrate</h2>
            </div>

            <div class="input">

                <i class="fa-solid fa-user"></i>
                <input type="text" class="input-mail" autocomplete="off" required>
                <label for="input"> Nombre </label>

            </div>

            <div class="input">

                <i class="fa-solid fa-user"></i>
                <input type="text" class="input-mail" autocomplete="off" required>
                <label for="input"> Apellidos </label>
                
            </div>

            <div class="input">

                <i class="fa-solid fa-envelope"></i>
                <input type="email" class="input-mail" autocomplete="off" required>
                <label for="input"> Email </label>
                
            </div>

            <div class="input">

                <i class="fa fa-picture-o"></i>
                <input type="url" class="input-mail" autocomplete="off" required>
                <label for="input"> Url </label>
                
            </div>

            <div class="input">

                <i class="fa-solid fa-lock"></i>
                <input type="password" class="input-mail" autocomplete="off" required>
                <label for="input"> Contraseña </label>
                
            </div>

            <div class="input">

                <i class="fa-solid fa-lock"></i>
                <input type="password" class="input-mail" autocomplete="off" required>
                <label for="input"> Confirmar Contraseña </label>
                
            </div>

            <div class="checkbox">

                <input type="checkbox" class="check" autocomplete="off" required>
                <label for="check">Acepto los terminos</label>
                
            </div>

            
            <div class="button">

                 <button class="btn">Registrarse</button>
                
            </div>


        </form>
    </div>

</body>
