<body>

    <div class="login">

        <form>

            <div class="sign-up">
                <h2>Registrate</h2>
            </div>

            <div class="input">

                <i class="fa-solid fa-user"></i>
                <input type="text" class="input-mail" autocomplete="off"  placeholder="Nombre" required>

            </div>

            <div class="input">

                <i class="fa-solid fa-user"></i>
                <input type="text" class="input-mail" autocomplete="off" placeholder="Apellidos" required>
                
            </div>

            <div class="input">

                <i class="fa-solid fa-envelope"></i>
                <input type="email" class="input-mail" autocomplete="off" placeholder="Email" required>
                
            </div>

            <div class="input">

                <i class="fa-solid fa-search"></i>
                <input type="url" class="input-mail" autocomplete="off" placeholder="Url" required>
                
            </div>

            <div class="input">

                <i class="fa-solid fa-lock"></i>
                <input type="password" class="input-mail" autocomplete="off" placeholder="Contraseña" required>
                
            </div>

            <div class="input">

                <i class="fa-solid fa-lock"></i>
                <input type="password" class="input-mail" autocomplete="off" placeholder="Confirmar Contraseña" required>
                
            </div>

            
            <div class="checkbox">

                <input type="checkbox" class="check" autocomplete="off" required>
                <label for="check">Acepto los terminos</label>
                
            </div>

            
            <div class="button">

                 <button class="btn">Registrarse</button>
                
            </div>

            
            <!-- <div class="box">

                <p> or </p>
                
            </div>

            
            <div class="icono">

                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                
            </div> -->

        </form>
    </div>

</body>
